<!-- 头部公共文件 -->
{include file="public/header"}
<body class="childrenBody">
<blockquote class="layui-elem-quote search">
    <div class="layui-inline">
        <a class="layui-btn linksAdd_btn" style="background-color:#5FB878" data-url="{:url('admin/links/linksAdd')}">添加链接</a>
    </div>
    <div class="layui-inline">
        <a class="layui-btn layui-btn-danger batchDel" data-url="{:url('admin/links/linksDelAll')}">批量删除</a>
    </div>

</blockquote>
<div class="layui-form links_list">
    <table class="layui-table">
        <colgroup>
            <col width="50">
            <col width="30%">
            <col>
            <col>
            <col>
            <col>
            <col>
            <col width="13%">
        </colgroup>
        <thead>
        <tr>
            <th><input type="checkbox" name="" lay-skin="primary" lay-filter="allChoose" id="allChoose"></th>
            <th style="text-align:left;">网站名称</th>
            <th>网站地址</th>
            <th>站长邮箱</th>
            <th>添加时间</th>
            <th>是否展示</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody class="links_content">
        {volist name="list" id="vo" empty="暂时没有数据"}
        <tr data-id="{$vo.id}">
            <td>
                <input type="checkbox" name="checked" lay-skin="primary" lay-filter="choose">
                <div class="layui-unselect layui-form-checkbox" lay-skin="primary">
                    <i class="layui-icon"></i>
                </div>
            </td>
            <td align="left">{$vo.linksName}</td>
            <td><a style="color:#1E9FFF;" target="_blank" href="{$vo.linksUrl}">{$vo.linksUrl}</a></td>
            <td>{$vo.masterEmail}</td>
            <td>{$vo.linksTime}</td>
            <td><input type="checkbox" name="show" lay-skin="switch" data-url="{:url('admin/links/linksIsShow', array('id'=>$vo['id']) )}" data-id="{$vo.id}"  lay-text="是|否" lay-filter="isShow" {$vo.isShow ? 'checked' : ''}>
                {if condition="($vo.isShow == 1)"}
                <div class="layui-unselect layui-form-switch layui-form-onswitch" lay-skin="_switch"><em>是</em><i></i></div>
                {else /}
                <div class="layui-unselect layui-form-switch" lay-skin="_switch"><em>否</em><i></i></div>
                {/if}
            </td>
            <td class="other">
                <a class="layui-btn layui-btn-xs links_edit" data-url="{:url('admin/links/linksUp', array('id'=>$vo['id']) )}" data-id="{$vo.id}"><i class="iconfont icon-edit"></i> 编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs links_del" data-url="{:url('admin/links/linksDel', array('id'=>$vo['id']) )}" data-id="{$vo.id}"><i class="layui-icon"></i> 删除</a>
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
</div>
<div>
    {$list->render()}
</div>
<div id="page"></div>
<ul id="biuuu_city_list"></ul>
<script type="text/javascript" src="__LAYUI__/layui.js"></script>
<script type="text/javascript" src="__JS__admin/links/linksList.js"></script>
</body>
</html>