<!-- 头部公共文件 -->
{include file="public/header"}
<body class="childrenBody">
{volist name="list" id="vo"}
<form class="layui-form" style="width:80%;">

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">自定义属性</label>
            <div class="layui-input-block">
                <input type="checkbox" name="isShow" class="isShow" title="展示" {$vo.isShow ? 'checked' : ''}>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">栏目名称</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input name" value="{$vo.name}" lay-verify="required" placeholder="请输入栏目名称">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">所属分类</label>
            <div class="layui-input-inline">
                <select name="pName" class="pName">
                    <!--<option value="">请选择一个分类</option>-->
                    <option value="{$vo.pid}">{$vo.pname.name}</option>
                    {volist name="category" id="cat"}
                        <option value="{$cat.id}">{$cat.name}</option>
                    {/volist}
                </select>
            </div>
            <div class="layui-form-mid layui-word-aux">不选择默认顶级分类</div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">链接地址</label>
        <div class="layui-input-block">
            <input type="text" class="layui-input links" value="{$vo.links}"  placeholder="请输入链接地址" lay-verify="required">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="upCategory">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            <input type="hidden" value="{$vo.id}" class="id">
        </div>
    </div>

</form>
{/volist}
<script type="text/javascript" src="__LAYUI__/layui.js"></script>
<script type="text/javascript" src="__JS__admin/category/categoryUp.js"></script>
</body>
</html>